* {
  margin: 0;
  padding: 0; }

.top-margin {
  display: block;
  background-color: #572EE5;
  height: 0.5em; }

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em 0 0.5em; }
  .main .logo {
    display: block;
    padding: 1em; }
    .main .logo img {
      display: flex;
      padding: 0;
      margin: auto; }
  .main .menu {
    padding: 1em; }
    .main .menu ul {
      display: none;
      position: absolute;
      margin-top: 2em;
      width: 100%;
      right: 0;
      opacity: 0.9;
      background: #572EE5;
      min-height: 100%; }
      .main .menu ul li {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        text-align: center;
        list-style: none;
        height: 100%;
        line-height: 4em;
        padding: 0.5em;
        margin-bottom: -0.5em; }
        .main .menu ul li .line {
          display: block;
          background-color: #ffffff;
          height: 1px;
          width: 15%;
          margin: auto;
          opacity: 0.5; }
      .main .menu ul a {
        color: white;
        text-decoration: none;
        display: block;
        width: 100%; }
    .main .menu .btn-menu {
      display: inline-block; }
    .main .menu .btn-close {
      display: none; }
    .main .menu input[type=checkbox] {
      position: absolute;
      right: 2.5em;
      opacity: 0; }
    .main .menu input[type=checkbox]:checked ~ ul {
      display: block; }
    .main .menu input[type=checkbox]:checked ~ .btn-menu {
      display: none; }
    .main .menu input[type=checkbox]:checked ~ .btn-close {
      display: inline-block; }

section.title h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  font-weight: 700;
  color: #572EE5;
  margin: 2em 2em 1em 2em;
  text-align: center; }
  section.title h2 .gifos {
    color: #5ED7C6; }

section.search {
  margin: 0 0 2em 0; }
  section.search .central-img {
    box-sizing: border-box;
    padding: 0 3em 0em 3em; }
    section.search .central-img img {
      width: 100%;
      margin: auto; }
  section.search .buscador {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em 0 1em;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    color: #6B7989;
    text-align: left;
    border: 1px solid #572EE5;
    border-radius: 40px;
    width: 80%;
    height: 2.5em;
    margin: auto; }
    section.search .buscador a:link, section.search .buscador a:visited, section.search .buscador a:hover, section.search .buscador a:active {
      text-decoration: none;
      color: #6B7989; }

section.wordtrending h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
  font-weight: 600;
  color: #572EE5;
  margin: auto;
  text-align: center; }
section.wordtrending p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  font-weight: 400;
  color: #572EE5;
  margin: 0.5em 3em 1em 3em;
  text-align: center; }

section.divisor {
  border: 0.5px solid #9CAFC3;
  width: 50%;
  margin: 4em auto 4em auto; }

section.suggestions h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  font-weight: 700;
  color: #572EE5;
  margin: 2em 2em 1em 2em;
  text-align: center; }
section.suggestions .imgs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.5em;
  align-items: center;
  width: 90%;
  margin: auto; }
  section.suggestions .imgs img {
    display: block;
    margin: auto; }
section.suggestions .vermas {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4em auto 4em auto;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  font-weight: 600;
  border: 1px solid #572EE5;
  border-radius: 40px;
  width: 30%;
  height: 3em; }
  section.suggestions .vermas a:link, section.suggestions .vermas a:visited, section.suggestions .vermas a:hover, section.suggestions .vermas a:active {
    text-decoration: none;
    color: #572EE5; }

section.imgtrending {
  background-color: #F3F5F8;
  padding: 2em; }
  section.imgtrending h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    font-weight: 700;
    color: #572EE5;
    margin: auto auto 1em auto;
    text-align: center; }
  section.imgtrending p {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: 400;
    color: #000000;
    margin: auto 4em 2em 4em;
    text-align: center; }
  section.imgtrending .slider {
    max-width: 1000px;
    display: grid;
    grid-template-rows: 1fr; }

footer p {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: 400;
  padding: 1em;
  text-align: center;
  margin: 1em; }
footer .rrss {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0 10em 0 10em;
  margin: -1em 0 0 0; }
footer .bottommargin {
  display: block;
  background-color: #572EE5;
  height: 0.5em; }

/*# sourceMappingURL=style.css.map */
