*{
    margin: 0;
    padding: 0;
}

.top-margin{
    display: none;
    background-color: #572EE5;
    height: 0.5em;
}

.main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em 0 0.5em;

    .logo{
        display: block;
        padding: 1em;
        
        img{
            display: flex;
            padding: 0;
            margin: auto;
            width: 100%;
        }
    }
  
    .menu{
        padding: 1em;

        ul{
            display: none;
            position: absolute;
            margin-top: 2em;
            width: 100%;
            right: 0;
            opacity: 0.9;
            background: #572EE5;
            min-height: 100%;

            li{
                font-family:'Montserrat', sans-serif;
                font-weight: 700;
                text-align: center;
                list-style: none;
                height: 100%;
                line-height: 4em;
                padding: 0.5em;
                margin-bottom: -0.5em;         
                
                .line{
                    display: block;
                    background-color: #ffffff;
                    height: 1px;
                    width: 15%;
                    margin: auto;
                    opacity: 0.5;
                }

                a{
                    color: white;
                    text-decoration: none;
                    display: block;
                    width: 100%;
                }  

                .add{
                    display: none;
                }
            }    
        }


        .btn-menu{
            display: inline-block;

        }

        .btn-close{
            display: none;
    
        }

        input[type=checkbox] {
            position: absolute;
            right: 2.5em;
            opacity: 0;
            transform: scale(1.5);
          }

        input[type=checkbox]:checked ~ ul{
            display: block;
        }

        input[type=checkbox]:checked ~ .btn-menu{
            display: none;
        }

        input[type=checkbox]:checked ~ .btn-close{
            display: inline-block;
        }
    }
}

section.favoritos{

    .favorito_logo{
        display: flex;
        justify-content: center;
    }

    h2{
        font-family:'Montserrat', sans-serif;
        font-size: 1em;
        font-weight: 600;
        color: #572EE5;
        margin: 0.5em 2em 1em 2em;
        text-align: center;
    }

    .imgs{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1.5em;
        align-items: center;
        width: 90%;
        margin:auto;

        img{
            display: block;
            margin: auto;
        }
    }

    .vermas{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 4em auto 4em auto;
        font-family:'Montserrat', sans-serif;
        font-size: 1em;
        font-weight: 600;
        border: 1px solid #572EE5;
        border-radius: 40px;
        width: 30%; 
        height: 3em;

    
        a:link, a:visited, a:hover, a:active {
            text-decoration: none;
            color: #572EE5;
          }

    }
}

section.imgtrending{
    background-color: #F3F5F8;
    padding: 2em;

    h2{
        font-family:'Montserrat', sans-serif;
        font-size: 1.5em;
        font-weight: 700;
        color: #572EE5;
        margin: auto auto 1em auto;
        text-align: center;
    }

    p{
        font-family: 'Roboto', sans-serif;
        font-size: 1em;
        font-weight: 400;
        color: #000000;
        margin: auto 4em 2em 4em;
        text-align: center;

    }

    .slider{
        width: 100%;
        display: flex;
        overflow: hidden;

            img{
                margin: 0.5em 1em 4em 1em;
            }
       
    }
}

footer{
    margin-top: 2em;

    .p{
        font-family: 'Roboto', sans-serif;
        font-size: 1em;
        font-weight: 400;
        padding: 1em;
        text-align: center;
    }

    .logos{
        display: flex;
        justify-content: center;

            .rrsslogo{
                margin: 0.5em;
            }

            #twitterHover{
                display: none;
                margin: 0;
            }
    }

    .copyright{
        font-family: 'Roboto', sans-serif;
        font-size: 1em;
        font-weight: 400;
        padding: 1em;
        text-align: center;
        margin: 1.5em;
    }
}

@media screen and (min-width: 620px) {

    .top-margin{
        display: block;
        width: 89%;
        margin: auto;
        height: 0.3em;
    }

    .main{

        justify-content: space-around;
        padding: 0;

        .logo{

            img{
                transform: scale(1.1);
            }
        }

        .menu{
            display: flex;
            align-items: center;
            margin: 0;
            padding: 0.5em;
            
            ul{
                display: flex;
                position: static;   
                margin: 0em;
                background: none;
                min-height: 0%;
                padding: 0;

                li{
                    font-size: 1em;
                    display: inline-block;
                    align-content: center;
                    margin: 0 1em 0 1em;

                    .line{
                        display: none;
                    }

                    a{
                        color: #572EE5;
                        text-transform: uppercase;
                    }   

                    .add{
                        display: block;
                    }
                }
            }

            .btn-menu{
                display: none;

            }

            .btn-close{
                display: none;
            }

            input[type=checkbox] {
                display: none;
            }

            input[type=checkbox]:checked ~ ul{
                display: block;
            }

            input[type=checkbox]:checked ~ .btn-menu{
                display: none;
            }

            input[type=checkbox]:checked ~ .btn-close{
                display: none;
            }
        }
    }

    section.favoritos{ 
            margin: 2em 0 2em 0;

                .imgs{
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                    grid-gap: 1em;
                    align-items: center;
                    width: 80%;
                    margin:auto;
            
                    img{
                        display: block;
                        margin: auto;
                    }
                }  
        }  

 
    section.imgtrending{
            width: 85%;
            height: 30em;
            margin: auto;
            
                h2{
                    font-size: 2em;
                    margin: 1em auto 0.5em auto;
                }

                p{
                    font-size: 1em;
                }

                .slider{
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    margin: auto;

                    img{
                        display: flex;
                        margin: auto;
                    }
                }
        }
    

    footer{
            .footer{
                display: flex;
                justify-content: space-around;
                align-items: center;

                .rrss{
                    display: flex;
                    justify-content: space-between;  

                    
                    .logos{
                        align-items: center;

                        .rrsslogo{
                            margin: 1em;
                        }

                        #twitter{
                            display: none;
                        }

                        #twitterHover{
                            display: flex;
                        }
                    }
                }
            }

            .bottommargin{
                display: block;
                background-color: #572EE5;
                height: 0.4em;
                width: 89%;
                margin: auto;
            }
        }                     
}